#root {
    display: block;
    text-align: center;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

stencil-bubble-chart {
    position: relative;
    display: block;
    height: 600px;
    width: 600px;
}
